<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <getPlaceholderRenderings>
        <processor type="Pentia.Foundation.DynamicPlaceholderKeys.Pipelines.GetPlaceholderRenderings.GetDynamicKeyAllowedRenderings, Pentia.Foundation.DynamicPlaceholderKeys" 
                   patch:before="processor[@type='Sitecore.Pipelines.GetPlaceholderRenderings.GetAllowedRenderings, Sitecore.Kernel']" />
      </getPlaceholderRenderings>
      <getChromeData>
        <processor type="Pentia.Foundation.DynamicPlaceholderKeys.Pipelines.GetChromeData.GetDynamicPlaceholderChromeData, Pentia.Foundation.DynamicPlaceholderKeys" 
                   patch:after="processor[@type='Sitecore.Pipelines.GetChromeData.GetPlaceholderChromeData, Sitecore.Kernel']"/>
      </getChromeData>
    </pipelines>
  </sitecore>
</configuration>
