<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Mvc" version="5.1.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="3.1.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebPages" version="3.1.0" targetFramework="net451" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net451" />
  <package id="Sitecore.Kernel.NoReferences" version="8.0.160115" targetFramework="net451" developmentDependency="true" />
  <package id="Sitecore.Mvc.NoReferences" version="8.0.160115" targetFramework="net451" developmentDependency="true" />
</packages>